body {
    margin: 0 auto;
    max-width: 1366px;
    width: 100%;
    padding-top: 100px;
    background-color: rgb(202, 253, 253);
    display: flex;
    justify-content: center;
}
.container{
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: rgb(170, 253, 253);
}
button {
    width: 70px;
    font-weight: 600;
}
#submit,#reset,#edit_btn,#del_btn {
    width: 70px;
    padding: 5px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 10px;
    margin-right: 10px;
}
td{
    padding:10px 30px;
    border: 1px solid;
}
th {
    padding:10px 30px;
    border: 2px solid;
}
#td_four,#th_four {
    border: none;
}